@import "bootstrap-sprockets"
@import "bootstrap"
@import "rails_bootstrap_forms"
@import "dashboard"
@import "login"
@import "upload_button"

$regent-grey: #606c79
$color-text-weak: $regent-grey

html
  body#no-background
    background-image: none
  body
    font-family: "Libre Baskerville", serif
    font-size: 2em
    background-image: url("/assets/paper2.png")
    header
      nav
        .container
          text-align: right
    section
      .container-fluid
        .row
          .nav
            a
              outline: 0
          .main
            padding-top: 20px
            padding-bottom: 4em
            a
              outline: 0
            h1
              margin-top: 0
            form
              .field
                input[type="text"]
                  font-family: monospace
                textarea
                  font-family: monospace
                  overflow-y: scroll
          .journal-special
            padding: 30px 25% 120px 25%
            font-size: 1.5em
            text-align: center
          h1#journal-name
            font-size: 4em
            text-align: center
          #typeset
            a
              outline: 0
            width: 600px
            margin: 5em auto 10em auto
            text-align: justify
          .hidden
            display: none
    footer.footer
      z-index: 1001
      position: fixed
      bottom: 0
      width: 100%
      height: 3.5em
      background-color: black
      box-shadow: 0 0 20px 5px rgba(0,0,0,0.75)
      .container
        .text-muted
          margin: 1em 0
          text-align: center
          a
            outline: 0
            color: #888
            transition: color 0.3s ease-in-out
          a:hover
            color: white
            transition: color 0.3s ease-in-out
table.list-model
  thead
    tr
      th
        padding: 0 1em
        text-align: center
  tbody
    tr
      td
        padding: 0 1em
        text-align: center
      td.mono
        font-family: monospace
hr
  border-color: lighten(black, 70%)
  width: 80%
.hr
  padding: 2em
  text-align: center
.attachment
  text-align: center
span.spacer
  display: inline-block
  width: 3em
.carousel
  padding-top: 25%
  width: 100%
  overflow-x: hidden
  .item
    height: 500px
    background-color: transparent
    .carousel-caption:hover
      color: black
    .carousel-caption
      color: $color-text-weak
      transition: color 0.3s ease-in-out
      text-shadow: none
      h1.figure
        font-style: italic
        color: black
      img
      a
        display: block
        margin-top: 20px
        outline: 0
        color: black
      a:focus
        text-decoration: none
      a:hover
        text-decoration: none
        color: black
        text-shadow: 0px 1px 2px rgba(0,0,0,0.6)
        transition: text-shadow 0.3s ease-in-out
      .journal-avatar-icon
        font-size: 250px
        margin-top: 20px
        width: 30%
  // Little breadcrumb-like icon-links on bottom of carousel.
  .carousel-indicators-wrapper
    padding-top: 30px
    .carousel-indicators
      .active
        background-color: transparent
      .glyphicon-li
        cursor: pointer
        display: inline
        margin: 0 10px
        border: none
        color: lighten($color-text-weak, 30%)
        transition: color 0.3s ease-in-out
      .glyphicon-li:hover
        color: black
        transition: color 0.3s ease-in-out
      .glyphicon-li.active
        color: black
        border: none
.carousel-inner
  overflow: visible
.carousel-control:focus
  color: black
.carousel-control:hover
  color: black
  text-shadow: 0px 1px 2px rgba(0,0,0,0.6)
  transition: text-shadow 0.3s ease-in-out
.carousel-control
  text-shadow: none
  opacity: 1
  color: black
.carousel-control.left, .carousel-control.right
  background-image: none
  width: 33%
  z-index: 11
.carousel-control.left
  padding-left: 10%
.carousel-control.right
  padding-right: 10%
.glyphicon-hand-right, .glyphicon-hand-left
  position: absolute
  top: 66%
  margin: 0 auto
  font-size: 60px
  z-index: 5
.glyphicon-hand-right
.glyphicon-hand-left
input#session_name.form-control, input#session_password.form-control
  color: black
  text-align: center
  border: 0px solid black
  border-style: solid
  border-radius: 0px
  box-shadow: none
  margin-bottom: 0
  background-color: transparent
  font-size: 1.2em
.login-form
  top: 25%
  position: fixed
  width: 100%
.button-pf-glyphicon
  padding: 10px 0
  text-align: center
button#pf-glyphicon:hover
  opacity: 1
  transition: opacity 0.3s ease-in-out
button#pf-glyphicon
  background-color: transparent
  border: none
  opacity: 0.5
  transition: opacity 0.3s ease-in-out
