@import "bootstrap-sprockets"
@import "bootstrap"
@import "rails_bootstrap_forms"
@import "dashboard"
@import "login"
@import "upload_button"

html
  body
    font-family: serif
    font-size: 2em
    header
      nav
        .container
          text-align: right
    section
      .container-fluid
        .row
          .main
            padding-bottom: 4em
            h1
              margin-top: 0
            form
              .field
                input[type="text"]
                  font-family: monospace
                textarea
                  font-family: monospace
                  overflow-y: scroll
          h1#journal-name
            font-size: 4em
            text-align: center
          #typeset
            width: 600px
            margin: 5em auto 10em auto
            text-align: justify
    footer.footer
      z-index: 1001
      position: fixed
      bottom: 0
      width: 100%
      height: 3.5em
      border-top: 1px solid #ddd
      background-color: #f5f5f5
      .container
        .text-muted
          margin: 1em 0
          text-align: right
table.list-model
  thead
    tr
      th
        padding: 0 1em
        text-align: center
  tbody
    tr
      td
        padding: 0 1em
        text-align: center
      td.mono
        font-family: monospace
.hr
  padding: 2em
  text-align: center
.attachment
  text-align: center
//hr.rchain
//  padding: 0
//  border: none
//  border-top: solid #333
//  color: #333
//  text-align: center
//hr.rchain:after
//  content: "<span class=\"glyphicon glyphicon-leaf\"></span>"
//  display: inline-block
//  position: relative
////  top: -0.7em
//  font-size: 1.5em
//  padding: 0 0.25em
//  background: white
